header{
    background: lightgray;
    height: 50px;
    padding :25px;
}
header nav{
    background: darkgray;
    height: 50px;
}

body{
    background: #f2f4f7;
    height: 100px;
}


footer{
    background: darkgray;
    height: 100px;
}